# TWITTER SENTIMENT ANALYSIS ON BIGTECH COMPANIES

## Data Exploratory

In [56]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data_twit = pd.read_csv("dataset/bigtech_train.csv")

In [57]:
data_twit.head(10)

,created_at,file_name,followers,friends,group_name,location,retweet_count,screenname,search_query,text,twitter_id,username,polarity,partition_0,partition_1
0,2020-07-12 09:24:26,AMD,25,114,AMD,United Kingdom,0.0,moffphcgaming,#AMD,Been on holiday so back now. Gonna try get som...,1.282244e+18,ðŸ•¹MoffPHC GamingðŸ•¹,-0.3102,Technology,AMD
1,2020-07-12 09:09:36,AMD,159,1144,AMD,digitalverse,4.0,ironparr0t,#AMD,RT @NinjaParanoid: #AMD #Ryzen #3900x #rtx2070...,1.282241e+18,ironparrot,0.0000,Technology,AMD
2,2020-07-12 08:37:31,AMD,4931,7,AMD,NaN,0.0,ASUS_ROG_IN,#AMD,The Beast #StrixGA35 comes packed with Up to A...,1.282233e+18,ASUS ROG IN,0.0000,Technology,AMD
3,2020-07-12 08:31:24,AMD,9,188,AMD,HAHA no....,0.0,XApochrypha,#AMD,Recently purchased everything for my first per...,1.282231e+18,XenosApochrypha,0.0000,Technology,AMD
4,2020-07-12 08:16:45,AMD,1719,1,AMD,digitalocean,1.0,LinuxDreams,#AMD,RT @LinuxReviews: #Linux architect Linus Torva...,1.282227e+18,LinuxDreams,-0.3612,Technology,AMD
5,2020-07-12 08:16:44,AMD,394,4,AMD,NaN,3.0,botxboxseriesx,#AMD,RT @RedGamingTech: #Zen 3 #EPYC Milan Sample L...,1.282227e+18,botxboxseriesx,-0.3400,Technology,AMD
6,2020-07-12 08:12:33,AMD,19,146,AMD,NaN,3.0,Tippy_Power,#AMD,RT @RedGamingTech: #Zen 3 #EPYC Milan Sample L...,1.282226e+18,Tippy,-0.3400,Technology,AMD
7,2020-07-12 08:11:41,AMD,69,135,AMD,Amsterdam,1.0,LinuxReviews,#AMD,"#Linux architect Linus Torvalds: AVX512 Is ""A ...",1.282226e+18,LinuxReviews,-0.3612,Technology,AMD
8,2020-07-12 07:50:29,AMD,520,293,AMD,Wolverhampton,3.0,Wolves_LOC,#AMD,RT @CollegeOptomUK: #ResearchWednesday: Lookin...,1.282221e+18,WolvesLOC,0.0000,Technology,AMD
9,2020-07-12 07:30:05,AMD,369,899,AMD,NaN,0.0,cnxplayer,#AMD,Cast videos from Windows 10 PC and Surface to ...,1.282216e+18,CnX Player,0.4019,Technology,AMD

In [58]:
#checking data dimension data t
data_twit_train.shape

(866909, 15)

In [59]:
#Mencheck jumlah feature data 
data_twit_train.columns

Index(['created_at', 'file_name', 'followers', 'friends', 'group_name',
       'location', 'retweet_count', 'screenname', 'search_query', 'text',
       'twitter_id', 'username', 'polarity', 'partition_0', 'partition_1'],
      dtype='object')

In [73]:
#Deskripsi data
data_twit.describe

<bound method NDFrame.describe of                  created_at file_name  followers  friends group_name  \
0       2020-07-12 09:24:26       AMD         25      114        AMD
1       2020-07-12 09:09:36       AMD        159     1144        AMD
2       2020-07-12 08:37:31       AMD       4931        7        AMD
3       2020-07-12 08:31:24       AMD          9      188        AMD
4       2020-07-12 08:16:45       AMD       1719        1        AMD
...                     ...       ...        ...      ...        ...
866904  2020-08-10 08:23:34    Amazon       4237      997     Amazon
866905  2020-08-10 08:22:43    Amazon        252      519     Amazon
866906  2020-08-10 08:22:12    Amazon       1301     1188     Amazon
866907  2020-08-10 08:21:37    Amazon      12425    10646     Amazon
866908  2020-08-10 08:20:38    Amazon        445       79     Amazon

                           location  retweet_count     screenname  \
0                    United Kingdom            0.0  moffphcgaming
1                      digitalverse            4.0     ironparr0t
2                               NaN            0.0    ASUS_ROG_IN
3                       HAHA no....            0.0    XApochrypha
4                      digitalocean            1.0    LinuxDreams
...                             ...            ...            ...
866904                       London            3.0    tanyagoodin
866905  iPhone: 50.824299,-0.136434            1.0       robinsok
866906                 New York, NY            0.0       websmenu
866907                          NaN            0.0  OfertacularRL
866908                          NaN            0.0      AirwaySim

           search_query                                               text  \
0                  #AMD  Been on holiday so back now. Gonna try get som...
1                  #AMD  RT @NinjaParanoid: #AMD #Ryzen #3900x #rtx2070...
2                  #AMD  The Beast #StrixGA35 comes packed with Up to A...
3                  #AMD  Recently purchased everything for my first per...
4                  #AMD  RT @LinuxReviews: #Linux architect Linus Torva...
...                 ...                                                ...
866904  #Amazon OR #AWS  We fixate on the decline of the high street, b...
866905  #Amazon OR #AWS  Updates to the Amazon S3 Encryption Client #aw...
866906  #Amazon OR #AWS  New gift idea (Casematix Carry Case Compatible...
866907  #Amazon OR #AWS  â€¼ï¸FUNKO PENGUIN KNIGHTâ€¼ï¸ ðŸ‘â€ðŸ—¨ #funkochollo #Ama...
866908  #Amazon OR #AWS  Fringe world cup in United States #AWS #gameSt...

          twitter_id                        username  polarity partition_0  \
0       1.282244e+18                ðŸ•¹MoffPHC GamingðŸ•¹   -0.3102  Technology
1       1.282241e+18                      ironparrot    0.0000  Technology
2       1.282233e+18                     ASUS ROG IN    0.0000  Technology
3       1.282231e+18                 XenosApochrypha    0.0000  Technology
4       1.282227e+18                     LinuxDreams   -0.3612  Technology
...              ...                             ...       ...         ...
866904  1.292738e+18                  Tanya Goodin â˜œ    0.2263  Technology
866905  1.292738e+18                        robinsok    0.1779  Technology
866906  1.292738e+18              ðŸ’‹Gift Showcase ðŸ‘§ðŸ’¯ðŸ¬    0.4404  Technology
866907  1.292738e+18                     Ofertacular   -0.5994  Technology
866908  1.292738e+18  AirwaySim - Online Airline Sim    0.4215  Technology

       partition_1
0              AMD
1              AMD
2              AMD
3              AMD
4              AMD
...            ...
866904      Amazon
866905      Amazon
866906      Amazon
866907      Amazon
866908      Amazon

[866909 rows x 15 columns]>

In [68]:
#Mencheck korelasi antar features data train
correlations = data_twit_train.corr(method='kendall')
correlations

               followers   friends  retweet_count  twitter_id  polarity
followers       1.000000  0.508377       0.074263   -0.018846 -0.023801
friends         0.508377  1.000000       0.037644   -0.001991 -0.003317
retweet_count   0.074263  0.037644       1.000000   -0.249821  0.007014
twitter_id     -0.018846 -0.001991      -0.249821    1.000000  0.002307
polarity       -0.023801 -0.003317       0.007014    0.002307  1.000000

## Data Preperation

1.Data Cleaning

In [77]:
#Mengeliminasi kolom yang tidak digunakan pada data train
twit_data = data_twit_train.drop(['created_at', 'followers', 'friends', 'group_name', 'location', 'retweet_count', 'screenname', 'search_query',  'twitter_id', 'partition_0', 'partition_1', 'username'], axis = 1)

In [78]:
twit_data.head(10)

  file_name                                               text  polarity
0       AMD  Been on holiday so back now. Gonna try get som...   -0.3102
1       AMD  RT @NinjaParanoid: #AMD #Ryzen #3900x #rtx2070...    0.0000
2       AMD  The Beast #StrixGA35 comes packed with Up to A...    0.0000
3       AMD  Recently purchased everything for my first per...    0.0000
4       AMD  RT @LinuxReviews: #Linux architect Linus Torva...   -0.3612
5       AMD  RT @RedGamingTech: #Zen 3 #EPYC Milan Sample L...   -0.3400
6       AMD  RT @RedGamingTech: #Zen 3 #EPYC Milan Sample L...   -0.3400
7       AMD  #Linux architect Linus Torvalds: AVX512 Is "A ...   -0.3612
8       AMD  RT @CollegeOptomUK: #ResearchWednesday: Lookin...    0.0000
9       AMD  Cast videos from Windows 10 PC and Surface to ...    0.4019

In [80]:
# punctuation removal data train
twit_data["text"] = twit_data['text'].str.replace(r'[^\w\s]+', '')

In [ ]:
# lowercasing
twit_data["text"] = twit_data['text'].str.lower().str.split()

## Features Extraction

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

# extract the labels from the train data
y = twit_data['polarity'].values
# use 70% for the training and 30% for the test
x_train, x_test, y_train, y_test = train_test_split(twit_data['polarity'].values, y,
                                                    stratify=y, 
                                                    random_state=1, 
                                                    test_size=0.3, shuffle=True)
# vectorize tweets untuk Model
vectorizer = CountVectorizer(binary=True, stop_words='english')

# learn a vocabulary dictionary of all tokens in the raw documents
vectorizer.fit(list(x_train) + list(x_test))

# transform documents to document-term matrix
x_train_vec = vectorizer.transform(x_train)
x_test_vec = vectorizer.transform(x_test)

#code masih error

## Modeling SVM

In [ ]:
from sklearn import svm

# Melakukan klasifiki menggunkan SVC
svm = svm.SVC(kernel = 'linear', probability=True)

# fit the SVC model berdasarkan data yang di train
prob = svm.fit(x_train_vec, y_train).predict_proba(x_test_vec)
y_pred_svm = svm.predict(x_test_vec)

## Evaluation

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy score for SVC is: ", accuracy_score(y_test, y_pred_svm) * 100, '%')